@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Raleway&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "Raleway", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

/*Paleta de colores*/
:root {
  --color-White: #fff;
  --color-Text: #808080;
  --color-Purple: #5a189a;
  --color-Blue: #3f37c9;
  --color-Orange: #f48c06;
  --color-Green: #36c84b;
  --color-Hover-Btn: #e0fbfc;
  --color-Back: #cddcdf;
  --box-shadow: 0px -2px 10px 0px rgba(52, 22, 75, 0.512);
  font-size: 16px;

  --color-Blue-Back: #000087;
  --color-Blue-2: #00009ce8;
  --color-Orange-2: #ff113ddc;
  --color-Green: #80b918;
  --color-Shadow: #00000030;
  --color-Line: #a7bac5;
  --color-Gray: #809bab;
  --color-Gray-2: #4e7185;
  --color-Table: #a7bac55c;
  --color-Line-2: #a7bac5e8;
  --color-Back: #edf3f6;
  --color-Back-Taking: #ecf3ff;
  --color-White: #fff;
  --color-Available: #bdf195;
  --color-Busy: #faa1c1;
  --color-Reserved: #fff59f;
  --color-Text-Table: #444150;
  --color-Light-Orange: #fdbc40;
  --color-Light-Red: #df4744;
}
